@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
/* special font */
@font-face{
	font-family: miama;
	src: url(../fonts/miama/Miama.ttf)
}


*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    
}



/* header */
.hbg{
    position: relative;
    width: 100%;
    height: 715px;
    left: 0;
    top: 0;
    /* styel */
    background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(16, 15, 15, 0.842) 100%);
}
nav{
    position: absolute;
width: 70.2%;
height: 46px;
left: 210px;
top: 57px;
gap:60%;
/* Auto layout */
display: flex;
flex-direction: row;
/* justify-content: space-between; */
align-items: center;
padding: 0px;

}

nav>ul{
    list-style: none;
    display: flex;
   
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    
   
}

nav>ul>li{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
padding: 8px 20px ;
cursor: pointer;
}
nav>ul>li:hover{
  
    border-radius: 46px;
   
background: rgb(230, 83, 60);
}

nav>h3{
    color: rgb(230, 83, 60);
    font-size: 2.3rem;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

/* banner contemt */
.banner-text{
    
position: relative;
width: 599.05px;
height: 440px;
left: 190px;
top: 199px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
}
/* .btn-ban{
    display: inline;
    cursor: pointer;
} */

.banner-text> h1{
    width: 520px;
height: 282px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 28px 0;

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 78px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.ban-span{
    font-family: miama;
   font-size: 9.5rem;;
font-weight: 100;
}

.banner-text> p{
    

    width: 520px;
height: 48px;
/* flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;*/
margin: 28px 0px; 
}

.pgraph{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left; 
}
.pr-btn{
  position: relative;
justify-content: center;
align-items: flex-start;

flex: none;
order: 0;
flex-grow: 0;


}
.btn-ban{
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
margin-right: 14px;
padding: 16px 40px 16px 40px;

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
background-color: transparent;
cursor: pointer;
}
.btn-ban:hover{
 
    border: 1px solid rgb(230, 83, 60);
background: rgb(230, 83, 60);
}

.img-box{
   
position: absolute;
width: 349px;
height: 580px;
left: 62.9%;
top: 135px; 
}


.float-card{
    position: relative;
   
    width: 12rem;


/* left: 764px;
top: 556px; */

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
}
.play-btn{
    position: relative;
width: 2.5rem;
height: 2.5rem;
/* left: 787px;
top: 584px; */
background: rgb(230, 83, 60);
border-radius: 50%;
}

#float-card-1{
    position: relative;
    display: flex;
    height: 6rem;
align-items: center;
justify-content: center;
justify-items: center;
gap: .625rem;
top: -30%;
left: -30%;
}

.card-text>h6{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 1.3rem;
font-weight: 900;
line-height: 1.5rem;
letter-spacing: 0.0187rem;
text-align: left;
}

#float-card-2{
    position: relative;
    display: flex;
    width: 13rem;
    height: 6rem;
align-items: center;
justify-content: center;
justify-items: center;
gap: .625rem;
top: -94%;
left: 68%;
}

#float-card-2>.card-text>h4{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    text-align: left;
}


/* body/main */

.main{
    background: rgb(0, 0, 0);
}

.cng-hab{
    position: relative;
width: 72.5%;
height: 31.39%;
left: 13.75%;
top: 66.66%;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 58;
padding: 0px;

}

.c-card{
    display: flex; 
gap: 5%;
}
.cng-card{
   margin-top: 7%;
}
.cng-text{
    position: relative;
    width: 46.6%;
    margin-top: 7%;
    flex-direction: column;
justify-items: center;
align-items: center;
gap: 14;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;

    }

.cng-text>h1{
    position: relative;
width: 75.9%;
left: 11.5%;


gap: 14;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 0.875rem;

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: center;

}


.cng-text>p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.3px;
text-align: center;
}

.c-card{
    position: relative;
    
    justify-content: space-evenly;
    width: 100%;
}

.c-card>.cng-card{
   

    width: 21%;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* gap: 30; */
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
/* margin: 0px 40px; */
}
.c-card>.cng-card>.cng-img{
    position: relative;
right: -9%;
}
.c-card>.cng-card>.cng-img>img{
    
    width: 86%;
 
    top: 0;
border-radius:50%;

}

.c-card>.cng-card>.cng-card-text>h6{
    position: relative;
    width: 60%;
    height: 35%;
  top: 30%;  
   left: 22%; 
    flex-direction: column;
    
    align-items: center;
    gap: 6;
    padding: 0px;


    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  
}

.c-card>.cng-card>.cng-card-text>p{
position: relative;
align-items: center;
gap: 6;
padding: 0px;

flex: none;
order: 1;
flex-grow: 0;
margin: 15% 0%;

    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 1.125rem;
letter-spacing: 0.3px;
text-align: center;
}

/* run extra mile */

.e-maile{
    position: relative;
width: 73.6%;
margin-top: 5%;

left: 12%;
display: flex;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

    border-radius: 1.125rem;
background: rgb(34, 34, 34);
}
.em-text{
    position:  relative;
    margin: 0% 7%;
    margin-top: 5%;
    
    width: 100%;
   
  
}
.em-text>h1{
    position: relative;
    width: 49.8%;
    
margin: 5%;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.em-text>p{
position: relative;
    margin: 2% 0 5% 2%;
    width: 69%;


    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.3px;
text-align: left;
}

#em-btn{
    position: relative;
    width: 34%; 
    left: 2%; 
   margin-top: 10%;
}
#em-btn>p{
    position: relative;
    left: 25%; 
}
.em-img{
    position: relative;
width: 94%; 
left: 20%;
padding: 10% 0;
}
.em-img>img{
    position: relative;
border-radius: 1.125rem;    
   
}

/* bmi */

.bmit{
    position: static;
width: 46.6%;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0%;

flex: none;
order: 1;
flex-grow: 0;
margin: 8% 0% 8% 25%;


}
.bmit>h1{



    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.bmit>p{
   
    

    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.0187rem;
text-align: left;
}


/* bmi calculator */
.bmi-table{
position: relative;
display: flex;
width: 100%;
gap: 2%;
background: rgb(34, 34, 34);

  
}

.bmi-chat{
    position: relative;
    width: 50%;

    
}

.bmi-chat>h3{
    position: relative;
    width: 30.76%;
    
     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14;
    padding: 0;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4% 0% 1% 15%;



    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.75rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.bmi-chat>table{
    position: relative;
    margin: 4% 0% 1% 15%;
    
}

.bmi-chat>table, th, td {
   position: relative;
width: 50%;

    border:1px solid rgba(255, 255, 255, 0.1);
  }
  table{
    
position: relative;
width: 21.52%;

  }

th{
    position:relative ;

    width: 30%;
    
    padding: 4%;
  





    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}
td{
    position: relative;
    
    width:30.97%;
    
    padding: 4%;


    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}