@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
*{
    margin: 0;
    padding: 0;
}



/* header */
.hbg{
    position: relative;
    width: 100%;
    height: 715px;
    left: 0;
    top: 0;
    /* styel */
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(16, 15, 15, 0.842) 100%);
}
nav{
    position: absolute;
width: 55.73%;
height: 46px;
left: 210px;
top: 57px;
gap:950px ;
/* Auto layout */
display: flex;
flex-direction: row;
/* justify-content: space-between; */
align-items: center;
padding: 0px;
}

nav>ul{
    list-style: none;
    display: flex;
    gap: 57px;
}